{% stylesheet %}
  .image_text{
    gap: 20px;
    display: flex;
    flex-direction: row;
  }
  .image_text .image{
    width: 50%;
    min-height: 40vw;
    max-height: 80vh;
  }
  .image_text .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .image_text .image.left{
    order: 0;
  }
  .image_text .image.right{
    order: 2;
  }
  .image_text .text{
    order: 1;
    width: 50%;
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
  }
  .image_text--dark {
    background-color: #000;
  }
  .image_text--dark .text {
    color: #fff;
  }

  @media(max-width: 767px){
    .image_text{
        flex-direction: column;
    }
    .image_text .image,
    .image_text .text{
        width: 100%;
    }
    .image_text .image.left,
    .image_text .image.right{
        order: 1;
    }

    .image_text .text{
        padding: 0 20px;
    }
  }
{% endstylesheet %}

<section class="image_text image_text--{{ section.settings.theme_mode }}">
    {% for block in section.blocks %}
        {% case block.type %}
            {% when 'image' %}
                <div class="image {{ block.settings.image_position }}">
                    <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.alt_tag }}">
                </div>
        {% endcase %}
    {% endfor %}
    <div class="text">
        {{ section.settings.content }}
    </div>
</section>

{% schema %}
{
    "name": "Image & Text",
    "settings": [
        {
            "type": "richtext",
            "id": "content",
            "label": "Content"
        },
        {
            "type": "select",
            "id": "theme_mode",
            "label": "Theme",
            "options": [
                { "value": "light", "label": "Light" },
                { "value": "dark", "label": "Dark" }
            ],
            "default": "light"
        }
    ],
    "blocks": [
        {
            "name": "Image",
            "type": "image",
            "limit": 1,
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "text",
                    "id": "alt_tag",
                    "label": "Alt Tag"
                },
                {
                    "type": "select",
                    "id": "image_position",
                    "label": "Image Position",
                    "options": [
                        {
                        "value": "left",
                        "label": "Left"
                        },
                        {
                        "value": "right",
                        "label": "Right"
                        }
                    ]
                },
            ],
        }
    ],
    "presets": [
        {
        "name": "Image & Text"
        }
    ]
}
{% endschema %}